 /* general */
 *{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;

}

body {
font-family: 'PT Sans Caption',"Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
font-size: 3vh;
}
nav ul{
 margin-right: 20px;
}
nav ul li{
 /* display: inline-block; */
 line-height: 40px;
 /* margin: 0 5px; */
}
nav ul li a{
 text-decoration: none;
 color: white;
 padding: 7px 13px;
 border-radius: 3px;
 font-size: 17px;

}
a.active, a:hover{
 background: #1b9bff;
 transition: .5s;
}
nav.label{
 font-size: 30px;
 float: right;
 margin-right: 30px;
 line-height: 80px;
 cursor: pointer;
 display: none;
}
#check{
 display: none;
}
/* @media (max-width: 953px){
 nav ul li a{
     font-size: 16px;
 }
}
@media (max-width: 850px){
 .chechbtn{
     display: block;
 }
 ul{
     position: fixed;
     width: 100%;
     height: 100vh;
     background: #2c3e50;
     top: 80px;
     left: -100%;
     text-align: center;
     transition: all .5s;
 }
 nav ul li{
     display: block;
     margin: 50px 0;
     line-height: 30px;
 }
 nav ul li a{
     font-size: 20px;
 }
 a:hover,a.active{
     background: none;
     color: #0082e6;
 }
 #check:checked ~ ul{
     left: 0;
 }
} */



/* // header */

#header {
display: flex;
justify-content: space-between;
align-items: center;
}

img{
 width: 100px;
 height: 100px;
}	
#menu-icon {
font-family: Geneva, sans-serif;
font-size: 6vh;
}

/* // hero */

.hero {
display: flex;
flex-direction: column;
justify-content: space-between;
height: 100vh;
padding: 1em;
box-sizing: border-box;
color: white;
background: url(hils.jpg) center center no-repeat;
background-size: cover;
}

.hero-title {
max-width: 16em;
margin: 0;
font-size: 12vh;
font-weight: bold;
line-height: .9;
}

@media only screen and (min-width: 32em) { .hero-title { font-size: 16vh; } }	

.hero-footer {
display: flex;
margin-bottom: 1em;
}

.button {
padding: .5em .67em;
color: white;
text-decoration: none;
border: .1em solid white;

}

.button-primary {
 color: black;
 background-color: white;
}

/* // article */

article {
max-width: 36em;
margin: 0 auto;
padding: 1em;
}	